# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/public/uploads/
/CHANGES.md
/out/

# production
/build
/ref

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun.lockb
package-lock.json

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keep example env
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Rust / Tauri
/target/
/desktop-tauri/src-tauri/target/

# General Translation translated files (manually translated, tracked in git)
# public/_gt/

# Examples to test the API
/examples

# Code Libaries for the SerikaCord API
/packages-api